body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.box{
  background:#020617;
  color:white;
  padding:20px;
  border-radius:12px;
  text-align:center;
  width:260px;
}

img{
  margin-top:12px;
  max-width:100%;
  display:none;
  border-radius:8px;
}
